body {
    background-color:lightseagreen;
    

}
h1 {
    text-align: center;
    background-color: goldenrod;
    border: 25px solid salmon;
    font-family:sans-serif;
    margin:0 0 0 0;



}

h2 {
    text-align:center;
    }
h3{
    text-align: center;
    background-color:cornflowerblue;
}

p {
    text-align: left;
    margin: 0 0 0 30%;
}

li {
    text-align: left;
    margin: 0 0 0 30%;
}









div {
    padding: 30px 30px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    color: #EEEEEE;
    width: 25%;
    position: relative;

  }

  div.more-resources {
    width:100%;
    height:250px;
    overflow:hidden;
    


  }
  
  div.walter-facts {
    background-color: #548CA8;
    display:inline-block;
    float:left;
  }
  
  div.feeding-information {
    background-color: #476072;
    display:inline-block;

  }
  
  div.gallery {
    background-color: #334257;
    display:inline-block;
    float:right;
  }

  a.walter-facts {
    display: inline-block;
			padding: 50px 80px;
			border: 1px solid #ccc;
			border-radius: 5px;
			text-decoration: none;
			color: #080420;
            font-size:x-large;
            background-color: beige;
            font-weight:bold;
               
}

a.feeding-information {
    display: inline-block;
			padding: 40px 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			text-decoration: none;
			color: #080420;
            font-size:x-large;
            background-color: beige;
            font-weight:bold;
               
}

a.gallery {
    display: inline-block;
			padding: 50px 80px;
			border: 1px solid #ccc;
			border-radius: 5px;
			text-decoration: none;
			color: #080420;
            font-size:x-large;
            background-color: beige;
            font-weight:bold;
               
}
  

