body {
background-color: rgb(199, 147, 188);
color: rgb(57, 8, 104);
font-size: 40px;
align-items: center;
align-content: center;
}

h2 {
    background-color: hotpink;
    color: black;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 6px solid black;
    width:500px;
    padding: 20px; 
    margin: 40px;
}


li {
    background-color: pink;
    color:darkgreen;
    font-size: 22px;
    width: 500px;
    text-align: center;
    



    
}